body{
    background-image: url('https://as1.ftcdn.net/v2/jpg/03/21/89/72/1000_F_321897220_D2ULYVG1zjpFaH1e4R4dp2jg94WviMXl.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

canvas{
    border-style: calc();
}